{% extends "layout.html" %} {% block title %}記録一覧{% endblock %} {% block
content %} {% if posts %}
<div class="card-container">
  {% for post in posts %}
  <div class="card">
    <a
      href="{{ url_for('post_detail', post_id=post.id) }}"
      class="top-post-title"
    >
      <h3>{{ post.title }}</h3>
    </a>
    {% if post.author %}
    <p>投稿者: {{ post.author.username }}</p>
    {% else %}
    <p>投稿者: 不明</p>
    {% endif %}

    <p class="post-meta">{{ post.date }} - {{ post.address }}</p>
    <p>{{ post.description[:100] }}...</p>
    <div class="mt-2">
      {% for tag in post.tags %}
      <a
        href="{{ url_for('tag_posts', tag_name=tag.name) }}"
        class="badge bg-secondary"
        >#{{ tag.name }}</a
      >
      {% endfor %}
    </div>

    {% if post.photos %}
    <div class="photo-gallery">
      <img
        src="{{ url_for('static', filename='uploads/' + post.photos[0].photo_path) }}"
        width="300"
      />
    </div>
    {% endif %}

    <a
      href="{{ url_for('post_detail', post_id=post.id) }}"
      class="read-more-btn"
    >
      続きを読む →
    </a>
  </div>

  {% endfor %} {% else %} {% if current_user.is_authenticated %}
</div>
<p style="text-align: center; color: #777">
  まだ投稿がありません。<a href="{{ url_for('create') }}">最初の投稿</a
  >をしてみましょう！
</p>
{% else %}
<p style="text-align: center; color: #777">
  まだ投稿がありません。ログインして投稿してみましょう！
</p>
{% endif %} {% endif %} {% endblock %}
